# Get general average HSV values for Daniel Smith cropped images

In [ ]:
import pandas as pd
paths_df = pd.read_csv('/Users/macbook/Box/git_hub/Insight_Project_clean/data/paths_df.csv')

In [ ]:
#create the lists to hold the averaged hsv values
h = []
s = []
v = []
import cv2

In [ ]:
#uses cv2 to import the cropped images and calculate the mean of the whole image for each channel
for i in range(0,len(paths_df)):
    image_path = paths_df.crop_path[i]
    image = cv2.imread(image_path)
    image_h_mean = cv2.cvtColor(image, cv2.COLOR_BGR2HSV).mean(axis=1)[:,0].mean()
    image_s_mean = cv2.cvtColor(image, cv2.COLOR_BGR2HSV).mean(axis=1)[:,1].mean()
    image_v_mean = cv2.cvtColor(image, cv2.COLOR_BGR2HSV).mean(axis=1)[:,2].mean()
    h.append(image_h_mean)
    s.append(image_s_mean)
    v.append(image_v_mean)

In [ ]:
#append the values to the dataframe
paths_df['h'] = h
paths_df['s'] = s
paths_df['v'] = v

# Upload the complete pigment information df to SQL

In [3]:
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import psycopg2
import pandas as pd
import sys
sys.path.append('/Users/macbook/Box/git_hub/Insight_Project_clean/scripts/')
#import scripts.sql_con as sql

In [4]:
import sql_con
from sql_con import df_from_query

postgresql://macbook:DarwinRulez!1@localhost/colors

In [ ]:
paths_df.to_sql('ds_data', engine, if_exists='replace')

In [ ]:
sql_query = """SELECT * FROM ds_data
LIMIT 5"""
df = df_from_query(sql_query)

df

# Generating the average color data for the clustering.
To capture the variation in each swatch. I am taking the average for each row of pixels in the cropped swatch

In [ ]:
ds_swatches = pd.DataFrame()

In [ ]:
for i in range(0,len(paths_df)):
    image_path = paths_df.crop_path[i]
    image = cv2.imread(image_path)
    image_mean = cv2.cvtColor(image, cv2.COLOR_BGR2HSV).mean(axis=0)
    imported =pd.DataFrame(image_mean, columns=["h","s","v"])
    imported["name"] = paths_df.name[i]
    imported["label"] = paths_df.label[i]
    ds_swatches = pd.concat([ds_swatches,imported], ignore_index=True)

In [ ]:
ds_swatches.to_sql('ds_swatches', engine, if_exists='replace')

In [5]:
sql_query2 = """
SELECT *FROM ds_swatches LIMIT 10;
"""
color_data_from_sql = df_from_query(sql_query2)
color_data_from_sql

postgresql://macbook:DarwinRulez!1@localhost/colors

   index           h           s           v             name  label
0      0  127.981481  126.981481  143.601852  Imperial Purple      1
1      1  127.944444  126.287037  144.250000  Imperial Purple      1
2      2  127.981481  126.564815  144.009259  Imperial Purple      1
3      3  127.962963  126.509259  143.981481  Imperial Purple      1
4      4  128.231481  126.583333  144.259259  Imperial Purple      1
5      5  128.212963  127.157407  143.555556  Imperial Purple      1
6      6  128.231481  127.750000  142.898148  Imperial Purple      1
7      7  128.212963  127.064815  143.712963  Imperial Purple      1
8      8  128.490741  127.425926  143.240741  Imperial Purple      1
9      9  128.472222  125.888889  144.824074  Imperial Purple      1