In [1]:
import numpy as np
import pandas as pd
import cv2
pd.set_option('display.max_rows', 100)

#set the directory for custom scripts
import sys
sys.path.append('/Users/macbook/Box/git_hub/Insight_Project_clean/scripts/')

#import custom scripts
import sql_con
from sql_con import df_from_query
import hsv_shift as hsv

postgresql://macbook:DarwinRulez!1@localhost/colors

In [6]:
#import the hsv from the database
hsv_sql = sql_query = """
SELECT name, label, h,s,v FROM ds_swatches;
"""

ds_hsv = df_from_query(hsv_sql)

postgresql://macbook:DarwinRulez!1@localhost/colors

In [7]:
ds_hsv.head()

              name  label           h           s           v
0  Imperial Purple      1  127.981481  126.981481  143.601852
1  Imperial Purple      1  127.944444  126.287037  144.250000
2  Imperial Purple      1  127.981481  126.564815  144.009259
3  Imperial Purple      1  127.962963  126.509259  143.981481
4  Imperial Purple      1  128.231481  126.583333  144.259259

In [8]:
ds_hsv_shift = hsv.shift_h_df(ds_hsv, .30,.30)

In [9]:
ds_hsv_shift

               H        H120        H240
0     127.981481    7.981481   67.981481
1     127.944444    7.944444   67.944444
2     127.981481    7.981481   67.981481
3     127.962963    7.962963   67.962963
4     128.231481    8.231481   68.231481
...          ...         ...         ...
4893  254.598584  254.598584  254.598584
4894  254.518700  254.518700  254.518700
4895  254.436819  254.436819  254.436819
4896  254.428831  254.428831  254.428831
4897  254.462781  254.462781  254.462781

[4898 rows x 3 columns]

In [11]:
ds_full = pd.concat([ds_hsv,ds_hsv_shift_df], axis = 1).dropna()

In [12]:
ds_full

,name,label,h,s,v,H,H120,H240
0,Imperial Purple,1,127.981481,126.981481,143.601852,127.981481,7.981481,67.981481
1,Imperial Purple,1,127.944444,126.287037,144.250000,127.944444,7.944444,67.944444
2,Imperial Purple,1,127.981481,126.564815,144.009259,127.981481,7.981481,67.981481
3,Imperial Purple,1,127.962963,126.509259,143.981481,127.962963,7.962963,67.962963
4,Imperial Purple,1,128.231481,126.583333,144.259259,128.231481,8.231481,68.231481
...,...,...,...,...,...,...,...,...
4893,Titanium White,79,26.666667,1.777778,253.138889,254.598584,254.598584,254.598584
4894,Titanium White,79,26.666667,1.777778,252.768519,254.518700,254.518700,254.518700
4895,Titanium White,79,26.666667,1.777778,252.388889,254.436819,254.436819,254.436819
4896,Titanium White,79,26.666667,1.777778,252.351852,254.428831,254.428831,254.428831
4897,Titanium White,79,26.666667,1.777778,252.509259,254.462781,254.462781,254.462781

# Seperate the "neutral" and "non-neutral"

In [13]:
ds_chroma = ds_full[ds_full["H"]<200]

In [14]:
ds_neutral = ds_full[ds_full["H"]>200]

In [15]:
ds_chroma.name.value_counts()

Cobalt Blue                   62
Hooker’s Green                62
Ultramarine Violet            62
Cerulean Blue                 62
Quinacridone Deep Gold        62
Moonglow                      62
Organic Vermilion             62
Ultramarine Turquoise         62
New Gamboge                   62
Manganese Blue Hue            62
Indian Yellow                 62
Quinacridone Burnt Orange     62
Quinacridone Pink             62
Sap Green                     62
Cadmium Yellow Light Hue      62
Raw Sienna                    62
Cadmium Yellow Medium Hue     62
Rich Green Gold               62
Quinacridone Coral            62
Green Gold                    62
Rose of Ultramarine           62
Viridian                      62
French Ultramarine            62
Quinacridone Gold             62
Phthalo Green Blue Shade      62
Cascade Green                 62
Burnt Sienna                  62
Phthalo Turquoise             62
Phthalo Blue Green Shade      62
Cobalt Teal Blue              62
Quinacridone Burnt Scarlet    62
Alizarin Crimson              62
Quinacridone Rose             62
Prussian Blue                 62
Quinacridone Red              62
Phthalo Green Yellow Shade    62
Opera Pink                    62
Pyrrol Red                    62
Imperial Purple               62
Hansa Yellow Medium           62
Lemon Yellow                  62
Ultramarine Blue              62
Pyrrol Orange                 62
Permanent Alizarin Crimson    62
Aussie Red Gold               62
Quinacridone Sienna           62
Transparent Pyrrol Orange     62
Hansa Yellow Light            62
Cadmium Red Medium Hue        62
Phthalo Blue Red Shade        62
Naples Yellow                 62
Raw Umber                     62
Bismuth Vanadate Yellow       62
Pyrrol Scarlet                62
Perinone Orange               62
Cerulean Blue Chromium        62
Aureolin (Cobalt Yellow)      62
Sepia                         62
Quinacridone Violet           62
Quinacridone Purple           62
Carbazole Violet              62
Burnt Umber                   62
Nickel Azo Yellow             62
Quinacridone Magenta          62
Yellow Ochre                  62
Shadow Violet                 50
Cobalt Violet                 43
Buff Titanium                 40
Name: name, dtype: int64

In [16]:
ds_neutral.name.value_counts()

Lunar Blue          62
Indigo              62
Neutral Tint        62
Perylene Green      62
Lunar Black         62
Indanthrone Blue    62
Deep Sap Green      62
Titanium White      62
Payne’s Gray        62
Chinese White       62
Undersea Green      62
Buff Titanium       22
Cobalt Violet       19
Shadow Violet       12
Name: name, dtype: int64

## some colors sit between neutrals and chroma. Move them to neutrals

In [20]:
moved_neutrals =  ds_chroma[(ds_chroma['name'] == 'Shadow Violet') | (ds_chroma['name'] == 'Cobalt Violet') | (ds_chroma['name'] == 'Buff Titanium')]

In [43]:
moved_neutrals

,label,h,s,v,H,H120,H240
name,,,,,,,
Buff Titanium,3,21.384028,77.833102,246.092593,21.384028,81.384028,141.384028
Cobalt Violet,30,161.444660,86.207795,248.710164,161.444660,41.444660,101.444660
Shadow Violet,37,8.337593,102.330556,91.463889,8.337593,68.337593,128.337593

In [22]:
#remove the neutrals from the original chroma data base
ds_chroma_edit = ds_chroma[(ds_chroma['name'] != 'Shadow Violet') & (ds_chroma['name'] != 'Cobalt Violet') & (ds_chroma['name'] != 'Buff Titanium')]

In [24]:
ds_chroma_edit.name.value_counts()

Cobalt Blue                   62
Quinacridone Rose             62
Cerulean Blue                 62
Quinacridone Deep Gold        62
Moonglow                      62
Organic Vermilion             62
Ultramarine Turquoise         62
New Gamboge                   62
Manganese Blue Hue            62
Indian Yellow                 62
Quinacridone Burnt Orange     62
Quinacridone Pink             62
Sap Green                     62
Cadmium Yellow Light Hue      62
Raw Sienna                    62
Hooker’s Green                62
Cadmium Yellow Medium Hue     62
Quinacridone Coral            62
Green Gold                    62
Rose of Ultramarine           62
Viridian                      62
French Ultramarine            62
Quinacridone Gold             62
Phthalo Green Blue Shade      62
Cascade Green                 62
Burnt Sienna                  62
Phthalo Turquoise             62
Phthalo Blue Green Shade      62
Cobalt Teal Blue              62
Quinacridone Burnt Scarlet    62
Alizarin Crimson              62
Ultramarine Violet            62
Prussian Blue                 62
Rich Green Gold               62
Quinacridone Red              62
Opera Pink                    62
Pyrrol Red                    62
Imperial Purple               62
Hansa Yellow Medium           62
Lemon Yellow                  62
Ultramarine Blue              62
Pyrrol Orange                 62
Permanent Alizarin Crimson    62
Aussie Red Gold               62
Quinacridone Sienna           62
Transparent Pyrrol Orange     62
Hansa Yellow Light            62
Cadmium Red Medium Hue        62
Phthalo Blue Red Shade        62
Quinacridone Purple           62
Bismuth Vanadate Yellow       62
Pyrrol Scarlet                62
Cerulean Blue Chromium        62
Aureolin (Cobalt Yellow)      62
Sepia                         62
Quinacridone Violet           62
Carbazole Violet              62
Burnt Umber                   62
Nickel Azo Yellow             62
Quinacridone Magenta          62
Yellow Ochre                  62
Raw Umber                     62
Perinone Orange               62
Phthalo Green Yellow Shade    62
Naples Yellow                 62
Name: name, dtype: int64

In [25]:
#add the removed neutrals to the neutral database
ds_neutral_edit = pd.concat([ds_neutral, moved_neutrals], axis = 0, ignore_index=True)

In [26]:
ds_neutral_edit.name.value_counts()

Lunar Blue          62
Indigo              62
Neutral Tint        62
Shadow Violet       62
Perylene Green      62
Lunar Black         62
Indanthrone Blue    62
Deep Sap Green      62
Titanium White      62
Cobalt Violet       62
Payne’s Gray        62
Chinese White       62
Buff Titanium       62
Undersea Green      62
Name: name, dtype: int64

In [44]:
ds_neutral_edit.groupby("name").mean()

,label,h,s,v,H,H120,H240
name,,,,,,,
Buff Titanium,3,21.436380,77.060185,246.429510,103.670968,142.380646,181.090323
Chinese White,78,14.469534,8.757616,246.619474,253.192436,253.192436,253.192436
Cobalt Violet,30,161.697730,82.758662,248.904122,189.740937,106.515130,148.128034
Deep Sap Green,58,65.912336,240.663530,67.887694,214.642444,214.642444,214.642444
Indanthrone Blue,39,126.792712,239.707437,51.548238,211.118247,211.118247,211.118247
Indigo,38,114.856631,95.231780,63.190562,213.629337,213.629337,213.629337
Lunar Black,77,42.582736,11.358124,123.792264,226.700292,226.700292,226.700292
Lunar Blue,51,88.113650,46.648895,153.023148,233.004993,233.004993,233.004993
Neutral Tint,75,0.831093,54.019265,73.541816,215.861960,215.861960,215.861960
Payne’s Gray,76,66.267622,41.782109,63.425627,213.680037,213.680037,213.680037
Perylene Green,59,43.780466,178.840800,57.087814,212.313058,212.313058,212.313058
Shadow Violet,37,8.722222,96.728495,92.352748,49.443484,97.830581,146.217678
Titanium White,79,18.637993,1.242533,254.395908,254.869706,254.869706,254.869706
Undersea Green,60,30.081243,210.155167,60.244026,212.993810,212.993810,212.993810

In [27]:
#Save out the chroma and neutrals
ds_neutral_edit.to_csv('/Users/macbook/Box/git_hub/Insight_Project_clean/data/neutrals.csv')

In [28]:
ds_chroma_edit.to_csv('/Users/macbook/Box/git_hub/Insight_Project_clean/data/chroma.csv')

# KNN models for neutrals and chroma
generate the models for the neutrals and chroma that the user's colors will be clustered into

Only using the h value after many attempts, it seems that clustering on the s & v values reduce the ability of the model to detect lighter colors, like yellows

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

## Chroma Model

In [37]:
#too high of accuracy here makes it impossible to match the user's colors
X = ds_chroma_edit[['h']]
y = ds_chroma_edit['name']
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)
knn_h = KNeighborsClassifier(n_neighbors=10, weights = 'distance')
knn_h.fit(X_train, y_train)
y_pred = knn_h.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8432539682539683

In [35]:
#save the model
from joblib import dump, load
dump(knn_h, '/Users/macbook/Box/git_hub/Insight_Project_clean/models/ds_h_chroma.joblib')

['/Users/macbook/Box/git_hub/Insight_Project_clean/models/ds_h_chroma.joblib']

## Neutral Model

In [40]:
#too high of accuracy here makes it impossible to match the user's colors
X = ds_neutral_edit[['h']]
y = ds_neutral_edit['name']
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=42)
knn_h2 = KNeighborsClassifier(n_neighbors=10, weights = 'distance')
knn_h2.fit(X_train, y_train)
y_pred = knn_h2.predict(X_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9861751152073732

In [42]:
#save the model
from joblib import dump, load
dump(knn_h2, '/Users/macbook/Box/git_hub/Insight_Project_clean/models/ds_h_neutrals.joblib')

['/Users/macbook/Box/git_hub/Insight_Project_clean/models/ds_h_neutrals.joblib']